<% if object.errors.any? %>
  <div class="bg-red-100 text-red-700 mb-4 p-4 rounded-md">
    <% object.errors.full_messages.each do |error| %>
      <div><%= error %></div>
    <% end %>
  </div>
<% end %>
