<nav class="sticky top-0 left-0 right-0 bg-blue-100 text-blue-900 border-b border-blue-300">
  <div class="container mx-auto flex items-center gap-4 h-14">
    <%= render "shared/navbar_link", label: "Start", path: root_path %>
    <%= render "shared/navbar_link", label: "Blog", path: blog_posts_path %>

    <% if Current.user.present? %>
      <%= render "shared/navbar_link", label: "Abmelden", path: logout_path, classes: "ml-auto" %>
    <% end %>
  </div>
</nav>
