<div class="pt-16 pb-12 max-w-[660px] mx-auto">
  <% if Current.user.authenticated? %>
    <div class="mb-8">
      <%= link_to "Erstellen", new_blog_post_path, class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="flex flex-col gap-8">
    <%= render @posts %>
  </div>
</div>
