<div class="pt-16 pb-12 max-w-[660px] mx-auto flex flex-col gap-4">
  <% if Current.user.authenticated? %>
    <div class="mb-8">
      <%= link_to "Erstellen", new_blog_post_path, class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render @posts %>
</div>
