@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Rubik, system-ui, sans-serif;
  }
}

.attachment {
  margin: 0 auto;
  text-align: center;
}

.attachment img {
  margin: 0 auto;
}

.attachment figcaption {
  display: none;
}

.trix-content h1 {
  font-size: 1.75rem !important;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  @apply text-slate-700;
}

.trix-content h1 a {
  @apply text-slate-700;
}

trix-toolbar {
  position: sticky;
  top: 57px;
  left: 0;
  right: 0;
  margin-bottom: 1rem;
  @apply py-4 border-slate-100 bg-slate-100;
}

.btn {
  @apply font-medium text-white py-2 px-4 text-base transition-all cursor-pointer rounded-md no-underline inline-block;
}

.btn.btn-primary {
  @apply bg-slate-700 hover:bg-slate-800;
}

.btn.btn-secondary {
  @apply bg-slate-400 hover:bg-slate-500;
}

.btn.btn-danger {
  @apply bg-red-700 hover:bg-red-800;
}
